<h3 class="page-header">お悩み一覧</h3>
<%= link_to "お悩み相談をする", new_tweet_path, class:"btn btn-primary" %>

  <table  class="table table-hover table-inverse">
  	<thead>
  		<tr>
  			<th>お悩み</th>
  			<th>お悩み内容</th>
  			<th>投稿者</th>
  		</tr>
  	</thead>
    <% @tweets.each do |tweet| %>
  	<tbody>
  		<tr>
  			<td><%= link_to tweet.title, tweet_path(tweet) %></td>
  			<td><%= truncate(tweet.body, length: 15) %></td>
  			<td><%= tweet.user.name %>さん投稿</td>
  		</tr>
  	</tbody>
    <% end %>
  </table>