<div class="body">
	<div class="container">
		<div class="row">
			<h1 class="text-center">お耳の悩みコミュニティへようこそ！</h1>
			<p class="text-center">
				ここは耳の悩みを持つ方が気軽に相談でき、<br>
				同じ悩みを持つ人、同じ経験をした人が解決しあう<br>
				コミュニティサイトになっています。<br>
				（閲覧は可能ですが、投稿は会員登録が必要になります。）<br>
			</p>
			<p class="text-center"><%= link_to "お悩み一覧へ", tweets_path, class:"btn btn-primary" %></p>
		</div>
	</div>
</div>
